# Jupyter
.ipynb_checkpoints/

# Python
__pycache__/
*.pyc

# Virtual environments
/venv/

# Model files
pattern-oracle.joblib

# Data files (if you download/generate them)
loto_*.csv
euromillions_*.csv